<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--ROOT means ~\Images folder-->
    <add key="ImagesFolderPath" value="ROOT" />
    <!--ROOT means ~\App_Data\SearchCatlouge.mdb file-->
    <add key="AccessDatabaseLocation" value="ROOT" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>